<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>{{.Title}}</title>
</head>
<body>
{{/*SayHello ini adalah function dengan parameter string, dan "hamzah" ini adalah argument nya*/}}
{{/*kemudian wajib method struct, gaboleh method doang*/}}
<h1>{{.SayHello "Hamzah"}}</h1>
</body>
</html>